In [1]:
import sqlite3
con = sqlite3.connect("week3.sqlite", isolation_level=None)
cur = con.cursor()

In [2]:
cur.execute("""DROP TABLE IF EXISTS movies""")

In [3]:
q = """
CREATE TABLE IF NOT EXISTS movies (
    id INTEGER PRIMARY KEY,
    title TEXT,
    year INTEGER,
    rating FLOAT,
    is_watched BOOLEAN DEFAULT 0,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP
)
"""
cur.execute(q)

In [4]:
res = cur.execute("SELECT name FROM sqlite_master")

In [5]:
q = """
INSERT INTO movies (title, year, rating) VALUES (?, ?, ?)
"""

cur.execute(q, ("The Matrix", 1999, 5.0))

In [6]:
[x for x in cur.execute("""SELECT * FROM movies""")]

[(1, 'The Matrix', 1999, 5.0, 0, '2024-01-24 00:42:54')]